<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>404</title>
        <%- include ("../struct/meta.ejs") %>
        <%- include ("../struct/fonts.ejs") %>
        <link rel=stylesheet type=text/css href=/public/css/error.css>
    </head>
</html>
<body>
    <div class="content">
        <span class="number">404</span><br>
        <span class="text">You're looking for something that doesn't exist!</span><br>
        <img class="earth" src="/public/images/errors/404.png"><br>
        <a class="home" href="/">[home]</a>
    </div>
</body>