:root {
    --white: #FFF; 
    --black: #333;
    --gray:  #DDD;
    --more-gray: gray;
    --blue: #1DA1F2;
}

html {
    overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--more-gray);
}

a:visited {
    text-decoration: none
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 100px 20px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.top .name {
    font-weight: bold;
    font-size: 26px;
}

.menu {
    margin: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px var(--gray);
    border-top: solid 1px var(--gray);
}

.menu .button {
    color: var(--more-gray);
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}

.menu .button.active {
    text-decoration: underline;
}

.timeline {
    width: auto;
    position: relative;
    margin-top: 50px;
}

.timeline .event {
    text-align: left;
    padding-bottom: 10px;
}

.timeline .event .year {
    color: var(--gray);
    border-right: solid 1px var(--gray);
    padding-right: 10px;
}

.projects {
    position: relative;
    animation: fade 1s;
    width: 700px;
    margin-bottom: -100px; 
    margin-top: 50px;
}

.projects .project {
    position: relative;
    margin-bottom: 40px;
    text-align: left;
    align-items: left;
    justify-content: left;
}

.projects .description a {
    color: var(--black);
    /* font-style: italic; */
    font-weight: bold;
}

.projects .description a:hover {
    text-decoration: underline;
}

.projects .project .name {
    color: var(--black);
    font-weight: bold;
    font-size: 24px;
}

.projects .project .image {
    width: 100%; 
    margin-top: 20px;
}

.projects .project .links {
    color: var(--gray);
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects .project .links .link {
    color: var(--more-gray);
    text-decoration: none;
}

.projects .project .links .link:hover {
    text-decoration: underline;
}

.projects .break {
    width: 100px;
    left: 0;
    border: solid 1px var(--gray);
    margin-bottom: 40px;
}


.projects .project .with .text {
    color: var(--gray);
    font-style: italic;
}

.projects .project .with .link {
    color: var(--more-gray);
}

.projects .project .with .link:hover {
    color: var(--more-gray);
    text-decoration: underline;
}

.contacts {
    position: relative;
    width: 300px;
    margin-bottom: -100px; 
    margin-top: 50px;
}

.contacts .contact {
    position: relative;
    margin-bottom: 7px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--gray);
    color: var(--black);
    text-align: left;
}

.contacts .contact .name {
    position: absolute;
    right: 0;
    color: var(--black);
}

@media only screen and (max-width: 750px) {
    .projects {
        position: relative;
        animation: fade 1s;
        width: 90%;
        margin-bottom: -100px; 
        margin-top: 50px;
    }
    
    .projects .project {
        position: relative;
        margin-bottom: 40px;
        text-align: left;
        align-items: left;
        justify-content: left;
    }


    .timeline .event {
        font-size: 15px;
    }


    .menu .button {
        margin-left: 10px;
        margin-right: 10px;
    }

}
