:root {
    --white: #FFF; 
    --black: #333;
}

html {
    overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
}

.content {
    width: 300px;
    height: 200px;
    /* background-color: blue; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.content .login-box {
    position: relative;
    width: 100%;
}

.content .login-box .login {
    position: absolute;
    left: 50%;
    top: 60px;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.content .login-box .password input {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 110px;
    transform: translate(-50%, -50%);
    padding: 8px 10px;
    box-sizing: border-box;
    border: 3px solid #fff;
    background-color: #ddd;
    border-radius: 10px;
}

.content .login-box .password input:focus {
    outline-width: 0;
}