<div id="contacts" class="content">
    <a target="_blank" class="contact" href="/github"><i class="fab fa-github"></i> Github</a><br>
    <a target="_blank" class="contact" href="/reddit"><i class="fab fa-reddit"></i> Reddit</a><br>
    <a target="_blank" class="contact" href="/discord"><i class="fab fa-discord"></i> Discord</a><br>
    <a target="_blank" class="contact" href="/twitter"><i class="fab fa-twitter"></i> Twitter</a><br>
    <a target="_blank" class="contact" href="/youtube"><i class="fab fa-youtube"></i> Youtube</a><br>
    <a target="_blank" class="contact" href="/itch"><i class="fab fa-itch-io"></i> Itch.io</a><br>
    <a target="_blank" class="contact" href="/twitch"><i class="fab fa-twitch"></i> Twitch</a><br>
    <a target="_blank" class="contact" href="/steam"><i class="fab fa-steam"></i> Steam</a><br>
</div>