<div class="contacts">
    <% for (contact of contacts) { %>
        <a href= "<%=contact.link%>" target="_blank">
            <div class="contact">
                <span class="icon"><i class="<%=contact.icon%>"></i></span>
                <span class="name"><%=contact.name%></span>
            </div>
        </a>
    <% } %>
</div>