<div class="timeline">
<% for (event of timeline) { %>
    <div class="event">
        <span class="year"><%=event.year%></span>
        <span class="name"><%=event.event%></span>
    </div>
<% } %>
</div>