<div id="home" class="content">
    <div class="event">
        <span class="name">Released "Dear President,"</span>
        <span class="date">2020</span>
    </div>
    <div class="event">
        <span class="name">Showcased a game at PGA 2019</span>
        <span class="date">2019</span>
    </div>
    <div class="event">
        <span class="name">Released "Salio"</span>
        <span class="date">2019</span>
    </div>
    <div class="event">
        <span class="name">Released "Curfe"</span>
        <span class="date">2019</span>
    </div>
    <div class="event">
        <span class="name">Published "api.badosz.com"</span>
        <span class="date">2019</span>
    </div>
    <div class="event">
        <span class="name">Showcased "Salio" at PGA 2018</span>
        <span class="date">2018</span>
    </div>
    <div class="event">
        <span class="name">Released "Mr. Moustache"</span>
        <span class="date">2018</span>
    </div>
    <div class="event">
        <span class="name">Released "The Fall"</span>
        <span class="date">2017</span>
    </div>
    <div class="event">
        <span class="name">Was born</span>
        <span class="date">2002</span>
    </div>
</div>