<div id="projects" class="content">
    <div class="project">
        <span class="name">MilkScript</span><br>
        <span class="description">
            A dynamic programming language that compiles into Lua. It provides things that are not normally possible in Lua like default parameters, switches, classes and much more. 
            MilkScript also catches many errors like for example undeclared identifier. 
            Unlike lua, arrays are zero-based. Currently this language is still in development.
            <img src="/public/images/projects/milkscript.png" class="image">
        </span>
        <div class="links">
            <a target="_blank" class="link" href="/milkscript">Website</a><br>
            <a target="_blank" class="link" href="/milkscript/github">Github</a><br>
            <a target="_blank" class="link" href="/milkscript/wiki">Wiki</a>
        </div>
    </div>
    <div class="project">
        <span class="name">Image API</span><br>
        <span class="description">
            An api for image generation and text manipulation. Mostly used in <a target="_blank" href="https://discord.com" class="discord">discord</a> bots. Api contains 50+ different endpoints and is developed using TypeScript.
            <img src="/public/images/projects/api.png" class="image">
        </span>
        <div class="links">
            <a target="_blank" class="link" href="https://api.badosz.com">Api</a><br>
        </div>
    </div>
    <hr class="break"></hr>
    <div class="project">
        <span class="name">Salio</span><br>
        <span class="description">
            A small and minimalistic, but still super hard platformer game about getting a tiny fellow through numerous rooms filled with various obstacles. 
            Developed together with <a target="_blank" class="twitter" href="https://twitter.com/kajetan_a">@kajetan_a</a> in our free time. 
            This game was released on Steam and programmed in Lua.
            <img src="/public/images/projects/salio.png" class="image">
        </span>
        <div class="links">
            <a target="_blank" class="link" href="https://store.steampowered.com/app/875810/Salio/">Steam</a><br>
            <a target="_blank" class="link" href="https://discord.gg/dt">Discord</a><br>
            <a target="_blank" class="link" href="https://twitter.com/kajetan_a">@kajetan_a</a>
        </div>
    </div>
    <hr class="break"></hr>
    <div class="project">
        <span class="name">Badosz Bot</span><br>
        <span class="description">
            A customizable <a target="_blank" href="https://discord.com" class="discord">discord</a> bot. Developed in free time with TypeScript.
            <img src="/public/images/projects/bot.png" class="image">
        </span>
        <div class="links">
            <a target="_blank" class="link" href="https://github.com/badosz0/badosz-bot">Github</a><br>
            <a target="_blank" class="link" href="/discord">Discord</a><br>
        </div>
    </div>
    <hr class="break"></hr>
    <div class="project">
        <span class="name">Jam Games</span><br>
        <span class="description">
            
            A list of games that I developed during game jams (in 72 hours). Most of them are written in Lua.<br><br>
            <b>Dear President,</b><br>
            A skill point & click  game. Made together with <a target="_blank" class="twitter" href="https://twitter.com/kajetan_a">@kajetan_a</a> for ludum dare 46.<br><br>
            
            <b>Curfe</b><br>
            A skill and luck based game about being a currency. Made together with <a target="_blank" class="twitter" href="https://twitter.com/kajetan_a">@kajetan_a</a>  for ludum dare 44.<br><br>

            <b>Satan's Island</b><br>
            A point & click game about expanding island by sacrificing the civilians. Made for ludum dare 43.<br><br>
            
            <b>Mr. Moustache</b><br>
            A skill game about shooting moustache with a moustache. Made  for ludum dare 40.<br><br>

            <b>The Fall</b><br>
            A game about being a yellow submarine that is running out of power. Made for ludum dare 39.<br><br>


            <img src="/public/images/projects/dear-president.png" class="image">
        </span>
        <div class="links">
            <a target="_blank" class="link" href="https://badosz.itch.io/">Itch.io</a><br>
            <a target="_blank" class="link" href="https://ldjam.com/users/badosz/games">Ludum Dare</a><br>
            <a target="_blank" class="link"  href="https://twitter.com/kajetan_a">@kajetan_a</a>
        </div>
    </div>
</div>