@import "tailwindcss";

@theme {
  --spacing: 1px;
  --color-background: #FFF;
  --color-card: #F6F6F7;
  --color-detail: #333333;
  --color-link: #18a0fb;
  --color-text-primary: #3C3C43;
  --color-text-secondary: #3C3C43C7;
  --color-text-tertiary: red;
}

html {
  /* overflow: scroll; */
  @apply font-sans;
  @apply antialiased;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  @apply bg-background;
}
