@import "tailwindcss";

:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #f6f6f7;
  --color-text-primary: #3c3c43;
  --color-text-secondary: #67676c;
}

@theme inline {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}
