<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>MilkScript</title>
        <%- include ("../struct/meta.ejs") %>
        <%- include ("../struct/fonts.ejs") %>
        <link rel=stylesheet type=text/css href=/public/css/milkscript.css>
    </head>
</html>
<body>
    <div class="content">
        <span class="text">MilkScript is still in development!</span><br>
        <img class="earth" src="/public/images/milkscript/milk.gif"><br>
        <span class="text">Please come back later or visit official <a target="_blank" href="/discord" class="discord">discord server</a> for more info.</span><br><br><br>
        <a class="home" href="/">[home]</a>
    </div>
</body>