<div class="top">
    <div class="name">
        <span class="name">Bartosz Król</span>
    </div>
    <div class="menu">
        <div class="buttons">
            <a href="/" class="button<%= section == "Home" ? " active" : "" %>">Home</a>
            <a href="/projects" class="button<%= section == "Projects" ? " active" : "" %>">Projects</a>
            <a href="/contact" class="button<%= section == "Contact" ? " active" : "" %>">Contact</a>
            <a href="/blog" class="button<%= section == "Blog" ? " active" : "" %>">Blog</a>
        </div>
    </div>
</div>