<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Panel</title>
        <%- include ("../struct/meta.ejs") %>
        <%- include ("../struct/fonts.ejs") %>
        <link rel=stylesheet type=text/css href=/public/css/panel.css>
    </head>
</html>
<body>
    <div class="content">
        <div class="login-box">
            <span class="login">Login</span>
            <div class="password">
                <input type="password" placeholder="Password">
            </div>
        </div>
    </div>
</body>